:root {
    --black: #010100;
    --white: #FFFFFF;
    --highlight-color: #f7931a; 
  --button-bg: #f7931a;
  --button-hover-bg: #e68216;
  --text-color: #ffffff;
  --background-color: #000000;
  --gradient-colors: linear-gradient(89.88deg, #F1A14A 3.88%, #E66216 48.74%, #5E5D68 71.17%, #2C527E 93.6%);
}

.logo1 {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.logo2 {
    width: 147px;
    height: 22px;
}

.nav-link {
    font-size: 25px;
    color: var(--white) !important;
    margin-left: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.hero-section {
    width: 100%;
    height: 550px;
    aspect-ratio: 16/9; 
    position: relative;
    background-color: var(--black);
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
    padding: 0;
}

.hero-row {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding-top: 40px; 
    align-items: flex-start; 
}

.hero-content {
    padding-left: 0px;
    flex: 3; 
    color: var(--white);
    text-align: left;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    box-sizing: border-box;
}

.hero-content .highlight {
    color: var(--highlight-color);
}

.hero-content h1 {
    font-size: 70px;
}

.hero-content p {
    font-size: 25px; 
    margin-bottom: 20px;
}

.highlight {
    background: var(--gradient-colors);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    display: inline;  
}

.powered-by {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.powered-by .powered-text {
    background: var(--gradient-colors);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    padding: 5px 10px; 
}

.powered-by img {
    margin-left: 10px;
    height: 30px;
}

.cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #FE9A4C -40.83%, #10283C 100%);
    color: white;
    padding: 10px 15px; 
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    width: 170px; 
    min-width: 120px;
}

.cta-button {
    border-top-left-radius: 12px; 
    border-top-right-radius: 0;
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 12px;
}

.cta-button:hover {
    background: linear-gradient(90deg, #FE9A4C -40.83%, #10283C 100%);
}

.cta-button i {
    margin-left: 10px;
    font-size: 1.2rem;
}

.hero-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image img {
    width: auto;
    max-width: 100%; 
    height: auto; 
}


@media (max-width: 768px) {
    .hero-row {
        flex-direction: column;
        align-items: center;
        padding-top: 20px; 
    }
    .hero-content, .hero-image {
        flex: 1; 
    }
}

/* -------- */
.box-container {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 200px;
    gap: 0px; 
}

.box {
    background-color: #1c1c1c;
    border: 1px solid #ff6600;
    border-radius: 10px;
    width: 300px;
    height: auto;
    padding: 20px;
    text-align: center;
    position: relative;
    color: white;
    margin: 0 0px;
}

.box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #1c1c1c;
    border-left: 1px solid var(--gradient-colors);
    border-top: 1px solid var(--gradient-colors);
    transform: translate(-50%, -50%) rotate(45deg);
}

.box::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #1c1c1c;
    border-right: 1px solid var(--gradient-colors);
    border-bottom: 1px solid var(--gradient-colors);
    transform: translate(50%, 50%) rotate(45deg);
}

.box-title {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
}

.box-value {
    font-size: 36px;
    font-weight: bold;
    background: var(--gradient-colors);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-align: right;
}
/* --------- */
.image-container {
    background-color: var(--background-color); 
    width: 100%; 
    padding: 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
}

.image-container img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    display: block; 
}
/* ------------- */
.section-header {
    text-align: center; 
    background: var(--background-color);
}

.section-header h1 {
    font-size: 2.5rem; /* Kích thước chữ cho tiêu đề chính */
    color: var(--white); /* Màu chữ */
    margin: 0; /* Loại bỏ margin mặc định */
}

.highlight-text {
    background: var(--gradient-colors); /* Gradient làm nổi bật */
    -webkit-background-clip: text; /* Cắt nền chỉ ở chữ */
    -webkit-text-fill-color: transparent; /* Làm cho phần nền chữ trong suốt */
}