:root {
    --black: #010100;
    --white: #FFFFFF;
    --highlight-color: #f7931a; /* Màu vàng cho phần highlight */
  --button-bg: #f7931a;
  --button-hover-bg: #e68216;
  --text-color: #ffffff;
  --background-color: #000000; /* Nền đen */
  --gradient-colors: linear-gradient(89.88deg, #F1A14A 3.89%, #E66216 32.26%, #5E5D68 46.45%, #2C527E 60.63%);
}

.logo1 {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.logo2 {
    width: 147px;
    height: 22px;
}

.nav-link {
    font-size: 25px;
    color: var(--white) !important;
    margin-left: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .hero-section {
    background-color: var(--black);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 20px;
    min-height: 100vh;
}

  
  .hero-content {
    max-width: 45%; 
    margin-top: 0;
  }
  
  .hero-content h1 {
    color: var(--white);
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  .hero-content .highlight {
    color: var(--highlight-color); 
  }
  
  .hero-content p {
    color: var(--white);
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .highlight {
    background: var(--gradient-colors);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    display: inline;  
}
  .powered-by {
    display: flex;
    margin-bottom: 20px;
  }
  .powered-text {
    background: var(--gradient-colors);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; /* Làm cho phần màu bên ngoài chữ trong suốt */
    padding: 5px 10px; /* Khoảng cách giữa chữ và nền */
}

  .powered-by img {
    margin-left: 10px;
    height: 30px;
  }
  
  .cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #FE9A4C -40.83%, #10283C 100%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
  }
  .cta-button {
    border-top-left-radius: 12px; 
    border-top-right-radius: 0;
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 12px;
}
  .cta-button:hover {
    background: linear-gradient(90deg, #FE9A4C -40.83%, #10283C 100%);
  }
  
  .cta-button i {
    margin-left: 10px;
    font-size: 1.2rem;
  }
  
  
  .hero-image {
    width: 480px;
    height: 480px;
    top: 147px;
    left: 900px;
    gap: 0px;
    opacity: 1; 
}

  
  .hero-image img {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    .hero-content {
      max-width: 100%;
    }
    .hero-section {
      flex-direction: column;
    }
    .hero-image {
      width: 100%;
      height: auto;
    }
  }
 