:root {
    --black: #010100;
    --white: #FFFFFF;
    --highlight-color: #f7931a; 
  --button-bg: #f7931a;
  --button-hover-bg: #e68216;
  --text-color: #ffffff;
  --background-color: #000000;
  --gradient-colors: linear-gradient(89.88deg, #F1A14A 3.88%, #E66216 48.74%, #5E5D68 71.17%, #2C527E 93.6%);
}
* {
    box-sizing: border-box;
}
html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000; 
    color: #ffffff; 
    font-family: Arial, sans-serif;
}

.logo1 {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.logo2 {
    width: 147px;
    height: 22px;
}

.nav-link {
    font-size: 25px;
    color: var(--white) !important;
    margin-left: 20px;
}

.hero-section {
    width: 100%;
    height: 550px;
    aspect-ratio: 16/9; 
    position: relative;
    background-color: var(--black);
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
    padding: 0;
}

.hero-row {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding-top: 40px; 
    align-items: flex-start; 
}

.hero-content {
    padding-left: 0px;
    flex: 3; 
    color: var(--white);
    text-align: left;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    box-sizing: border-box;
}

.hero-content .highlight {
    color: var(--highlight-color);
}

.hero-content h1 {
    color: var(--white);
    font-size: 70px;
}

.hero-content p {
    font-size: 25px; 
    margin-bottom: 20px;
}

.highlight {
    background: var(--gradient-colors);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    display: inline;  
}

.powered-by {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.powered-by .powered-text {
    background: var(--gradient-colors);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    padding: 5px 10px; 
}

.powered-by img {
    margin-left: 10px;
    height: 30px;
}

.cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #FE9A4C -40.83%, #10283C 100%);
    color: white;
    padding: 10px 15px; 
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease;
    width: 170px; 
    min-width: 120px;
}

.cta-button {
    border-top-left-radius: 12px; 
    border-top-right-radius: 0;
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 12px;
}

.cta-button:hover {
    background: linear-gradient(90deg, #FE9A4C -40.83%, #10283C 100%);
}

.cta-button i {
    margin-left: 10px;
    font-size: 1.2rem;
}

.hero-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image img {
    width: auto;
    max-width: 100%; 
    height: auto; 
}


/* -------- */
.box-container{
    height: 320px;
    background-color: var(--background-color);
}
.box-voucher {
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 80px;
    gap: 20px; 
}
.image-ellipse{
    position: absolute;
}
.box {
    max-width: 390px;
    width: 18%;
    aspect-ratio: calc(390 / 150);
    height: auto;
    padding: 10px;
    text-align: center;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    background: url('./image/use-case-vecto.png') no-repeat;
    background-size: contain;
  }

.box-title {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
}

.box-value {
    font-size: 36px;
    font-weight: bold;
    background: var(--gradient-colors);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-align: right;
}
/* --------- */
.image-container {
    background-color: var(--background-color); 
    width: 100%; 
    padding: 0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
}

.image-container img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    display: block; 
}
/* ------------- */
.section-header {
    text-align: center; 
    background-color: var(--background-color); 
    padding: 30px 0; 
}

.section-header h1 {
    font-size: 50px; 
    color: var(--white); 
    margin: 0px;
    
}

.highlight-text {
    background: var(--gradient-colors); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    
}
/* ---------------------------------------- */
.swiper-container {
    width: 100%;
    height: 40%;
    background-color: var(--background-color);
  }
  
.swiper-wrapper {
    display: flex;
    gap: 3px; 
}
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }
  
  .scroll-box {
    max-width: 477px;
    max-height: 328px;
    width: 80%;
    aspect-ratio: calc(477 / 328);
    height: auto;
    padding: 20px;
    text-align: center;
    position: relative;
    color: white;
    margin: 0 100px; 
    display: flex;
    flex-direction: column;
    background: url('./image/use-case-bg.svg') no-repeat;
    background-size: contain;
  }

  
  .scroll-image {
    max-width: 80%;
    height: 65px;
    width: 85px;
    align-items: flex-start;
  }
  
  .scroll-title {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left;
  }
  .scroll-box h1 {
    color: var(--white);
  }
  .scroll-content-text {
    font-size: 20px;
    color: var(--white); 
    text-align: left;
  }
  /* ---------- */
  .stake-container {
    position: relative;
    width: 100%;
    background-color: var(--background-color);
  }
  
  .image-ellipse1 {
    position: absolute;
    bottom: 120px; 
    left: 10%;
    transform: translateX(-50%); 
  }
  
  .stake-table{
    background-color: var(--background-color);
    width: 100%;
    max-width: 1730px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    gap: 40px; 
    padding: 20px;
  }
  .stake-box {
    background-color: var(--background-color);
    padding: 20px;
    max-width: 1183.82px;
    width: 100%;
    height: auto;
    aspect-ratio: calc(1183.82 / 328);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: url('image/use-case-stake.png') no-repeat;
    background-size: contain;
  }
  .stake-box-2 {
    background-color: var(--background-color);
    padding: 20px;
    max-width: 1183.82px;
    width: 100%;
    height: auto;
    aspect-ratio: calc(1183.82 / 328);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: url('image/use-case-stake.png') no-repeat;
    background-size: contain;
    margin-left: auto;
  }

  .flex-box {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
  }
  
  .stake-image {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    object-fit: contain;
  }
  
  .stake-text {
    color: white;
  }
  
  .stake-text h1 {
    color: var(--white);
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .stake-text p {
    font-size: 20px;
    line-height: 1.5;
  }
  /* ------------------ */
  .roadmap-container{
    position: relative; 
  width: 100%;
  background-color: var(--background-color); 
  padding: 20px; 
  }
  .image-ellipse2 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px; 
    height: auto; 
  }
  .roadmap-header{
    text-align: center; 
    background-color: var(--background-color); 
    padding: 20px 0; 
  }
  .roadmap-header h1 {
    font-size: 50px;
    color: var(--white);
  }
  .roadmap-header p {
    color: var(--white);
    font-size: 25px;
  }
/* ------------------- */

.stage-box {
    background: var(--background-color); 
    width: 100%;
    display: flex; 
    justify-content: center; 
    padding: 20px; 
    flex-wrap: wrap;
}

.stage-content {
    display: flex;
    flex-direction: column; 
    background-color: var(--background-color);
    padding: 20px;
    max-width: 1194px; 
    width: 70%;
    aspect-ratio: calc(1194 / 210.33); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    background: url('image/stage-box.png') no-repeat; 
    background-size: contain; 
    margin: 0;
    color: white; 
    padding-left: 270px;
    margin-bottom: 10px;
}

.stage-content h1 {
    color: var(--white);
    font-size: 40px;
    margin-bottom: 10px;
}

.stage-content ul {
    list-style-type: disc; 
    font-size: 25px; 
    padding-left: 40px; 
    margin: 0; 
}

.stage-content li {
    font-size: 16px; 
    margin-bottom: 5px; 
}
.rectangle{
    width: 100%;
    display: block;
    margin-top: 90px;
}
/* ------------------------- */
    .container-footer {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000; 
        height: 40vh; 
        padding: 0;
        margin: 0;
    }
    
    .title {
        background: var(--gradient-colors);
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
        font-size: 68px;
        
    }
    
    .tagline {
        color: white;
        font-size: 20px;
        margin: 0;
        display: flex;
        align-items: center;
    }
    
    .logo-sonic {
        width: 90px;
        height: 30px;
        margin-left: 10px; 
    }
    
    .lines {
        width: 60%;
        max-width: 500px;
        margin: 20px 0 0 0; 
    }
    
    .social-icons {
        margin-top: 20px; 
    }
    
    .social-icons img {
        width: 30px; 
        margin: 0 10px; 
    }
    

